// Colors
$rem_base: 16px;
$link_blue: #236FB9;
$link_visited: darken($link_blue, 5%);
$link_hover: #B92225;

@function rempx($size) {
  $remSize: $size / $rem_base;
  @return #{$remSize}rem;
}

* { box-sizing: border-box; -moz-box-sizing: border-box; }

html {
  background-color: rgb(209, 214, 217);
  font-family:  'Roboto', 'Source Sans Pro', 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-size: $rem_base;
  font-weight: 300;
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  max-width: 100%;
}

a {
  color: $link_blue;
  text-decoration: none;

  &:visited {
    color: $link_visited;
  };
  
  &:hover, &:active {
    color: $link_hover;
  };
}

pre {
  font-family: 'Source Code Pro', 'Menlo';
  font-size: rempx(13px);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Slab', 'Roboto', 'Source Sans Pro', 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-weight: 300;
}

ul.layout {
  margin: 0;
  padding: 0;
  
  & > li {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}

.avatar {
  background-size: cover;
  background-repeat: no-repeat;
  color: #FFF;
  display: inline-block;
  font-size: 1rem;
  height: 1em;
  line-height: 1em;
  margin: 0;
  overflow: hidden;
  padding: 0;
  text-align: center;
  vertical-align: middle;
  width: 1rem;

  .initials {
    font-size: .5rem;
    display: block;
    margin: 0 auto;
    letter-spacing: -.1ex;
    &.length-3 { font-family: 'Roboto Condensed', 'Arial Narrow'; font-size: (1rem * .8); }
    &.length-4 { font-family: 'Roboto Condensed', 'Arial Narrow'; font-size: (1rem * .7); }
  }
  &.person { border-radius: (1rem/2); }
  &.group { border-radius: (1rem/20); }
}

@mixin avatar($size) {
  .avatar {
    font-size: rempx($size);
    line-height: rempx($size);
    height: rempx($size);
    width: rempx($size);
    .initials {
      font-size: rempx($size / 2);
      &.length-3 { font-size: rempx(($size / 2)* .8); }
      &.length-4 { font-size: rempx(($size / 2) * .7); }
    }
    &.person { border-radius: rempx($size / 2); }
    &.group { border-radius: rempx($size / 20); }
  }
}


input[type=text] {
  border: 1px solid #bbb;
  border-radius: rempx(3px);
  padding: rempx(4px) rempx(8px);
}

input[type=submit] {
  background-color: $link_blue;
  //border: 1px solid darken($link_blue, 5%);
  border: none;
  box-shadow: rempx(2px) rempx(2px) 0 rgba(0,0,0,.2);
  color: #FFF;
  cursor: pointer;
  display: inline-block;
  left: rempx(-1px);
  margin: rempx(2px) rempx(2px) 0 0;
  padding: rempx(4px) rempx(8px);
  position: relative;
  top: rempx(-1px);
  
  &:hover {
    background-color: lighten($link_blue, 5%);
  }

  &:active {
    background-color: darken($link_blue, 5%);
    box-shadow: none;
    top: 0;
    left: 0;
  }
}

#dev-console {
  pre { font-size: rempx(12px); }
  background-color: rgba(255, 255, 255, .7);
  border-top: 2px solid rgba(0, 0, 0, .3);
//  position: fixed;
  bottom: 0;
  overflow: auto;
  width: 100%;
  max-width: 100%;
  height: 200px;
  padding: 8px 16px;
}

header#site-head {
  background-color: rgb(250, 189, 45);
  border-bottom: 1px solid rgb(222, 158, 32);
  color: #000;
  height: rempx(44px);
  max-height: rempx(44px);
}

#site-head-items {
  display: table;
  height: 100%;
  width: 100%;
  max-height: 100%;
  max-width: 100%;
  
  .item {
    display: table-cell;
    padding: 0 rempx(4px);
    vertical-align: middle;

    .icon {
      display: block;
      width: rempx(24px);
      height: rempx(24px);
      line-height: rempx(24px);
      background-color: rgba(0,0,0,.2);
      text-align: center;
      border-radius: rempx(2px);
    }
  }
  
  #site-search {
    width: 100%;
    
    input[type=text] {
      width: 100%;
    }
  }
  
  #site-user-alert {
    .icon {
      background-color: #900;
      color: #FFF;
    }
  }
  
  #site-user {
    white-space: nowrap;
  }
}

#site-container {
  display: table;
  height: 100%;
  width: 100%;
  max-width: 100%;
  overflow: scroll;
  table-layout: fixed;
}

#site-nav {
  background-color: rgb(35, 40, 42);
  border-right: rgb(20, 22, 23);
  color: #fff;
  display: table-cell;
  min-width: 256px;
  max-width: 256px;
  vertical-align: top;
  width: 256px;
  
  a {
    color: #fff;
    display: block;
    font-size: rempx(14px);
    overflow: hidden;
    padding: rempx(8px) rempx(16px);
    width: 100%;
    line-height: rempx(24px);
    
    &:hover { background-color: rgba(255, 255, 255, .1); }
    
    .icon {
       background-color: rgba(255, 255, 255, .3);
       border-radius: rempx(3px);
       color: #fff;
       display: block;
       float: left;
       height: rempx(24px);
       margin-right: rempx(8px);
       text-align: center;
       vertical-align: top;
       width: rempx(24px);   
    }    
    
    .label {
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    
    .count {
      background-color: #ddd;
      border-radius: rempx(3px);
      color: #000;
      font-size: rempx(11px);
      font-weight: 500;
      display: block;
      float: right;
      line-height: rempx(20px);
      height: rempx(20px);
      margin: rempx(2px) rempx(-8px) rempx(2px) rempx(4px);
      min-width: rempx(20px);
      padding: 0 rempx(5px);
      text-align: center;
      vertical-align: middle;
    }
  }

  #site-nav-user {
    margin-bottom: rempx(12px);
    
    a {
      line-height: 40px;
    
      @include avatar(40px);
      
      .avatar {
        display: block;
        float: left;
        margin-right: rempx(8px);
        margin-left: rempx(-8px);
      }
      
      .label {
        font-size: rempx(16px);
      }
    }
  }
  
  #site-nav-start .icon { background-color: red; }
  
  #site-nav-groups .icon { background-color: green; }
  
  #site-nav-user-groups-head {
    font-size: rempx(12px);
    font-weight: 500;
    padding: rempx(16px) rempx(16px) rempx(4px);
    text-transform: uppercase;
    white-space: nowrap;
  }
  
  &.collapsed {
    min-width: 56px;
    max-width: 56px;
    width: 56px;
    
    a {
      position: relative;
      
      .icon {
        opacity: .7;
      }
      
      .label {
        display: none;
      }
      
      .count {
        float: none;
        font-size: rempx(9px);
        font-weight: 400;
        line-height: rempx(14px);
        height: rempx(14px);
        min-width: rempx(14px);
        margin: 0;
        padding: 0 rempx(4px);
        position: absolute;
        right: rempx(8px);
        top: rempx(2px);
      }
      
    }
    
    #site-nav-user-groups-head {
      visibility: hidden;
    }
    
    &:hover {
     a {
       .icon {
         opacity: 1;
       }
     } 
    }
  }
}

#group-nav {
  background-color: #fff;
  border-right: 1px solid darken(#fff, 20%);
  color: #000;
  display: table-cell;
  vertical-align: top;
  padding: 0 0 rempx(48px);
  min-width: 200px;
  max-width: 200px;
  width: 200px;

  #group-nav-header {  
    padding: rempx(24px) 0 rempx(12px);
    text-align: center;
    
    @include avatar(152px);
    .avatar {
      display: block;
      margin: 0 auto rempx(12px);
    }
    
    .name {
      font-weight: 400;
      font-size: rempx(16px);
      line-height: rempx(18px);
      padding: 0 rempx(8px);
    }
    
    .description {
      color: #919CA2;
      font-size: rempx(14px);
      line-height: rempx(16px);
      padding: rempx(4px) rempx(8px);
    }
  }
  
  #group-nav-follow {
    text-align: center;
    padding-bottom: rempx(8px);
    
    input {
      background-color: #74B211;
      font-weight: 500;
      margin: 0 auto;
      text-transform: uppercase;
      width: 80%;
    }
  }
  
  #group-nav-search {
    font-size: rempx(13px);
    padding: rempx(8px) rempx(12px);
    
    input[type=text] {
      width: 100%;
    }
  }
  
  #group-nav-list {
    a {
      color: #6C7B82;
      display: block;
      font-size: rempx(13px);
      overflow: hidden;
      padding: rempx(4px) rempx(12px);
      width: 100%;
      line-height: rempx(24px);
    
      &:hover {
        background-color: rgba(0, 0, 0, .05);
      }
      
      .icon {
         background-color: rgba(0, 0, 0, .2);
         border-radius: rempx(3px);
         color: #fff;
         display: block;
         float: left;
         height: rempx(24px);
         margin-right: rempx(8px);
         text-align: center;
         vertical-align: top;
         width: rempx(24px);   
      }    
    
      .label {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    
      .count {
        background-color: #ccc;
        border-radius: rempx(3px);
        color: #fff;
        font-size: rempx(11px);
        font-weight: 300;
        display: block;
        float: right;
        line-height: rempx(20px);
        height: rempx(20px);
        margin: rempx(2px) rempx(-6px) rempx(2px) rempx(4px);
        min-width: rempx(20px);
        padding: 0 rempx(5px);
        text-align: center;
        vertical-align: middle;
      }
    }
    
    &:hover {
      a {
        .count {
          background-color: #c33;
        }
      }
    }
    
    .active a {
      background-color: $link_blue;
      color: #FFF;
      
      .count {
        background-color: #fff;
        color: $link_blue;
      }
      
      &:hover {
        .count {
          background-color: #fff;
          color: $link_blue;
        }
      };
    };
    
    .category a {
      padding-left: rempx(24px);
    }
    
    #group-nav-links-header {
      font-size: rempx(12px);
      font-weight: 500;
      padding: rempx(16px) rempx(12px) rempx(4px);
      text-transform: uppercase;
      white-space: nowrap;
    }
  }
}

#site-content {
  display: table-cell;
  height: 100%;
  max-width: 100%;
  vertical-align: top;
  width: 100%;
}

.card {
  border: 1px solid darken(#fff, 20%);
  background-color: #fff;
  overflow: hidden;
  padding: rempx(20px);
  position: relative;
  max-width: 100%;
}

.dev-notes {
  position: absolute;
  top: -1px;
  right: -1px;
  background-color: #FFc;
  border: 1px solid darken(#fff, 20%);
  border-radius: 2px;
  opacity: .7;
  margin: 0;
  padding: .75em 1em;
  font-size: rempx(13px); 
  h1,h2,h3,h4,h5,h6 { margin: 0; padding: .4em .2em .2em; font-size: 1.1em;}
  ul { margin: 0; padding: .5em 2em ; }
  width: 25%;
}

//
//
//
#site-playlist {
  // Attached
//  margin: 1.2em 1.2em -1.2em 1.2em;
//  border: 1px solid #ddd;
//  border-bottom: none;
  
  color: #fff;
  background-color: rgb(90, 104, 111);
  
  .summary {
    display: table-cell;
    width: 100%;
    padding: .5em 1em .5em .5em;
    overflow: hidden;
    
    .icon { float: left; display: block; margin-right: 8px;} 
    @include avatar(40px);
    
    .details {
      overflow: hidden; line-height: 1.1em;
      
      .primary { font-size: .8em; white-space: nowrap; text-overflow: ellipsis; width: 100%; overflow: hidden;}
      .secondary { font-size: 1.2em; line-height: 1.2em; white-space: nowrap; text-overflow: ellipsis; width: 100%; overflow: hidden; }
    }
  }
      
  a.prev-item, a.next-item {
    display: table-cell;
    max-width: 250px;
    width: 25%;
    border-left: 1px solid rgba(255, 255, 255, .1);
    vertical-align: middle;
    
    white-space: nowrap;
    color: #ccc;
    padding: 0 1em;
    
    .desc { font-size: .7em; text-transform: uppercase; line-height: 1em; }
    .label { color: #FFF; width: 100%; text-overflow: ellipsis; overflow: hidden; line-height: 1.2em; }
    
    &:hover {
      background-color: rgba(255, 255, 255, .1);
    }
  }
  a.next-item {
    text-align: right;
  }
}

//
//

//
//@media screen and (max-width: 1023px) {
// #site-nav, #group-nav { display: none; }
// #site-head #site-mobile-menu { display: table-cell; } 
//}
//
//@media screen and (max-width: 764px) {
// #site-nav, #group-nav { display: none; }
// #site-head #site-logo { display: none; }
// #site-head #site-dashboard { 
//   .notifications, .mail, .blackboard, .apps { display: none; }
// }
//}